* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* HEADER */
header {
    background: #4b136e;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    text-align: center;
    margin: 1rem 0;
}

/* NAVIGATION */
nav {
    display: none;
    flex-direction: column;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

nav a:hover {
    background: white;
    color: #4b136e;
}

#menu {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

nav.open {
    display: flex;
}

/* MAIN */
main {
    max-width: 1100px;
    margin: 1rem auto;
    padding: 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

/* TEMPLE CARD */
figure {
    background: #f4f4f4;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

figure h3 {
    background: #ccc;
    padding: 0.5rem;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

figcaption strong {
    color: #4b136e;
}

figure img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    margin-top: 1rem;
}

/* FOOTER */
footer {
    background: #4b136e;
    color: white;
    text-align: center;
    padding: 1rem;
}