@media (min-width: 768px) {

    #menu {
        display: none;
    }

    nav {
        display: inline-flex;
        gap: 1rem;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}