body {
    font-family: 'Roboto', sans-serif;
}
  
header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgba(0, 149, 255, 0.366);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
}

@media screen and (min-width: 500px) {
    header {
        background-color: rgba(0, 0, 0, 0.366);
        text-emphasis-color: white;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }
}